html {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}

body {
    background-image: url("https://codd.cs.gsu.edu/~lhenry23/Web/HW/Assign02/background.png");
    background-repeat: repeat;
    margin: 0px;
}

header {
    background-image: url("https://codd.cs.gsu.edu/~lhenry23/Web/HW/Assign02/bannerbackground.png");
    background-repeat: repeat-x;
    height: 50px;
    text-align: center;
}

h1#title {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

main {
    width: 800px;
    border: 4px solid gray;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

div#review_container{
    width: 550px;
    float: left;
    overflow: hidden;
}

div#review_header {
    background-image: url("https://codd.cs.gsu.edu/~lhenry23/Web/HW/Assign02/rottenbackground.png");
    background-repeat: repeat;
    height: 83px;
    color: white;
    line-height: 1.38;
}

#review_header img {
    float: left;
}

#review_header span {
    font-size: 48pt;
    font-weight: bold;
    color: red;   
}

div.review_col {
    width: 47%;
    margin-left:2%;
    float: left;
}

p.review_box {
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    font-weight: bold;
    overflow: hidden;
}

.review_col img {
    float: left;
    margin-right: 5px;
}

p.critic_info {
    overflow: hidden;
    margin-bottom: 3em;
}

.critic_info span {
    font-style: italic;
}

div#gen_overview {
    width: 250px;
    background-color: #A2B964;
    font-family: Arial, sans-serif;
    float: right;
}

#gen_overview ul {
    list-style: none;
    padding-left: 0;
    margin: 10px 10px;
}

#gen_overview dl dt {
    font-weight: bolder;
    margin-top: 1em;
}
#gen_overview img {
    clear: right;
}

div#bottom_pages {
    text-align: center;
    background-color: #a2b964;
    padding: 5px;
    clear: both;
}

#valid {
    position: fixed; 
    bottom: 0px;
    right: 0px;
}

#valid p {
    margin: 2px 2px;
}